*{

}
p{ line-height: 1em; 
	}

h1, h2, h3, h4{
    color: green;
	font-weight: normal;
	line-height: 1.1em;
/*	margin: 0 0 .5em 0;*/
}

h1{ font-size: 1.7em; 
}
h2{ font-size: 1.5em;

		}

a{
	color: blue;
	text-decoration: none;
}
	a:hover {
		color: yellow;
		text-decoration: underline;
		}
	a:active{ text-decoration: underline; }



body{
    font-family: "Courier New"; font-size: 100%; line-height: 1.2em; width: 100%; margin: 0; 
	/*background: #eee;*/
    font-weight: normal;
}



#page{ 
	/*margin: 20px; */
	background-color: purple;
		display: inline-block;
		}
		#page:hover{
			background-color:yellow;
		}
		#page:active{
			background-color:green;
		}


#outerbox3{
	width: 95%;

	margin: 50px auto;
	background-color: red;
}
	#outerbox3:hover{
		background-color:blue;
	}
	#outerbox3:active{
		background-color:purple;
	}
	
#outerbox2{
	width: 90%;

	margin: 50px auto;
	background-color: orange;
}
	#outerbox2:hover{
		background-color:red;
	}
	#outerbox2:active{
		background-color:blue;
	}
#outerbox{
	width: 90%;

	margin: 50px auto;
	background-color: green;
	
	
}
	#outerbox:hover{
		background-color:purple;
	}
	#outerbox:active{
		background-color:yellow;
	}


#logo{
	width: 85%;
	margin: 50px auto;
/*	display: inline-block;*/
	background-color: blue;
}
	#logo:hover{
		background-color:green;
	}
	#logo:active{
		background-color:orange;
	}


	#innerbox{
		width: 90%;
		background-image:url(cat.jpg);
		background-repeat: no-repeat;
		background-position: center;
		margin: 20px auto;
	/*	background-color: blue;*/
	}


		
		
#content{
	width: 75%;
	margin: auto ;
	/*background: #eee;*/
	background-color: yellow;

	padding: 20px;
/*	clear: both;*/

	opacity: .7;
/*	display: inline-block;*/



}

#content:hover{
    background-color: orange;
    color: black;
}
#content:active{
	opacity: 0;
}


