*{

}
p{ line-height: 1em; 
	}

h1, h2, h3, h4{
    color: green;
	font-weight: normal;
	line-height: 1.1em;
/*	margin: 0 0 .5em 0;*/
}

h1{ font-size: 1.7em; 
}
h2{ font-size: 1.5em;

		}

a{
	color: green;
	text-decoration: none;
}
	a:hover {
		color: yellow;
		text-decoration: underline;
		}
	a:active{ text-decoration: underline; }



body{
    font-family: "Courier New"; font-size: 100%; line-height: 1.2em; width: 100%; margin: 0; 
	/*background: #eee;*/
    font-weight: normal;
}

img
{
	opacity:0.2;
	width: 50%;

}
img.center {   display: block;   margin-left: auto;   margin-right: auto; }

	img:hover{
		opacity: 1;
	}

#page{ 
	/*margin: 20px; */
	background-color: purple;
		display: inline-block;
		}
		#page:hover{
			background-color:black;
		}
		#page:active{
			background-color:white;
		}
/*#icon{
	width: 100%;
	margin: auto;
}*/

#outerbox3{
	width: 95%;

	margin: 50px auto;
	background-color: red;
}
	#outerbox3:hover{
		background-color:blue;
	}
	#outerbox3:active{
		background-color:purple;
	}
	
#outerbox2{
	width: 90%;

	margin: 50px auto;
	background-color: orange;
}
	#outerbox2:hover{
		background-color:red;
	}
	#outerbox2:active{
		background-color:blue;
	}
#outerbox{
	width: 90%;

	margin: 50px auto;
	background-color: green;
}
	#outerbox:hover{
		background-color:purple;
	}
	#outerbox:active{
		background-color:yellow;
	}


#logo{
	width: 90%;
	margin: 50px auto;
/*	display: inline-block;*/
	background-color: yellow;
}
	#logo:hover{
		background-color:green;
	}
	#logo:active{
		background-color:orange;
	}


	#innerbox{
		width: 90%;

		margin: 20px auto;
		background-color: blue;
	}
		#innerbox:hover{
			background-color:yellow;
		}
		#innerbox:active{
			background-color:green;
		}
		
		
#content{
	width: 85%;
	margin: 40px ;
	background: #eee;
	padding: 20px;
	clear: both;

	/*opacity: .7;*/
	display: inline-block;
	


}

#content:hover{
    background-color: orange;
    color:white;
}
#content:active{
    background-color: red;
    color:white;
}

/*
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;

}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: gray;
		
	}*/


/*#content,
ul li a{ box-shadow: 0px 1px 1px #999; }*/
